@import "tailwindcss";
@import "@radix-ui/colors/olive.css";

:root {
  --liked: #f8312f;
}

@theme inline {
  --color-background: var(--olive-1);
  --color-foreground: var(--olive-12);

  --color-olive-1: var(--olive-1);
  --color-olive-2: var(--olive-2);
  --color-olive-3: var(--olive-3);
  --color-olive-4: var(--olive-4);
  --color-olive-5: var(--olive-5);
  --color-olive-6: var(--olive-6);
  --color-olive-7: var(--olive-7);
  --color-olive-8: var(--olive-8);
  --color-olive-9: var(--olive-9);
  --color-olive-10: var(--olive-10);
  --color-olive-11: var(--olive-11);
  --color-olive-12: var(--olive-12);

  --color-liked: var(--liked);

  --font-serif: var(--font-eb-garamond);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);

  font-family: var(--font-eb-garamond);
}

::selection {
  background: var(--olive-5);
}

@keyframes fade-in {
  from {
    mask:
      linear-gradient(90deg, #000 25%, #000000e6 50%, #00000000) 150% 0 / 400%
      no-repeat;
    opacity: 0;
  }

  to {
    mask:
      linear-gradient(90deg, #000 25%, #000000e6 50%, #00000000) 0 / 400%
      no-repeat;
    opacity: 1;
  }
}
