---
import Content from '@/components/Content.astro'
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import Home from '@/components/Home.astro'
import { Menu } from '@/components/Menu/Menu'
import BaseLayout from '@/layouts/BaseLayout.astro'
import Layout from '@/layouts/Layout.astro'
---

<BaseLayout title="Orlan Quijada — Software Engineer">
  <!-- <slot name="head" slot="head" /> -->
  <main class:list={['py-24 layout-container']}>
    <div class="gradient"></div>
    <div class="flex flex-col items-start">
      <div class="mb-32 flex w-full justify-between">
        <!-- <Home /> -->
        <div>
          <h1 class="font-medium text-gray12">Orlan Quijada</h1>
          <p class="font-medium text-gray10">Software Engineer & Freelancer</p>
          <p class="font-medium text-gray10">Cebu, Philippines</p>
        </div>
        <Menu client:load />
      </div>
      <section class="mb-16 flex flex-col">
        <h2 class="mb-6 font-medium">About</h2>
        <p class="text-gray11">
          Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit
          enim labore culpa sint ad nisi Lorem pariatur mollit ex esse
          exercitation amet. Nisi anim cupidatat excepteur officia.
          Reprehenderit nostrud nostrud ipsum Lorem est aliquip amet voluptate
          voluptate dolor minim nulla est proident. Nostrud officia pariatur ut
          officia.
        </p>
      </section>
      <section class="mb-16 flex w-full flex-col">
        <h2 class="mb-6 font-medium">Contact</h2>
        <div class="mb-3 grid grid-cols-[9rem_1fr]">
          <span class="text-gray10">Email</span>
          <span class="font-medium text-gray11 underline"
            >orlantquijada@gmail.com</span
          >
        </div>
        <div class="grid grid-cols-[9rem_1fr]">
          <span class="text-gray10">Twitter</span>
          <span class="font-medium text-gray11 underline">@orlantquijada</span>
        </div>
      </section>
      <section class="mb-16 flex flex-col">
        <h2 class="mb-6 font-medium">Projects</h2>
        <div class="mb-3 grid grid-cols-[9rem_1fr]">
          <span class="text-gray10">2018</span>
          <div>
            <h3 class="font-medium text-gray12">Daily Stoic</h3>
            <span class="text-sm font-medium text-gray10"
              >Lorem ipsum dolor sit amet.</span
            >
            <p class="mt-4 text-gray11">
              Lorem ipsum dolor sit amet, officia excepteur ex fugiat
              reprehenderit enim labore culpa sint ad nisi Lorem pariatur mollit
              ex esse exercitation amet. Nisi anim cupidatat excepteur officia.
            </p>
          </div>
        </div>
      </section>
      <section class="mb-16 flex flex-col">
        <h2 class="mb-6 font-medium">Work</h2>
        <div class="mb-3 grid grid-cols-[9rem_1fr]">
          <span class="text-gray10">2018</span>
          <div>
            <h3 class="font-medium text-gray12">Daily Stoic</h3>
            <span class="text-sm font-medium text-gray10"
              >Lorem ipsum dolor sit amet.</span
            >
            <p class="mt-4 text-gray11">
              Lorem ipsum dolor sit amet, officia excepteur ex fugiat
              reprehenderit enim labore culpa sint ad nisi Lorem pariatur mollit
              ex esse exercitation amet. Nisi anim cupidatat excepteur officia.
            </p>
          </div>
        </div>
      </section>
    </div>
  </main>
  <Footer class="layout-container" />
</BaseLayout>

<style>
  .layout-container {
    @apply mx-auto w-full px-6;
    max-width: 672px;
  }

  main {
    flex-grow: 1;
    width: 100%;
    align-content: flex-start;
  }
  main::before,
  main::after,
  .gradient {
    width: 100vw;
    height: 100vh;
    position: fixed;
    inset: 0;
  }
  main::before {
    background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, var(--gray1) 100%);
    content: '';
    z-index: -1;
  }
  main::after {
    z-index: -2;
    /* background-image: url('/grid.svg'); */
    background-image: url('/grid2.svg');
    /* background-image: url('/waves.svg'); */
    opacity: 0.2;
    content: '';
    filter: invert(0.8);
    /* alternative */
    /* filter: invert(1); */
  }
  html.dark main::after {
    filter: unset;
  }

  .gradient {
    /* might be good to tweek */
    /* mix-blend-mode: difference; */
    /* mix-blend-mode: hard-light; */

    content: '';
    z-index: -3;
    width: 100%;
    height: 100%;
    filter: saturate(150%);
    opacity: 0.2;
    background-image: radial-gradient(
        at 27% 37%,
        hsla(215, 98%, 61%, 1) 0px,
        transparent 50%
      ),
      radial-gradient(at 97% 21%, hsla(256, 98%, 72%, 1) 0px, transparent 50%),
      radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
      radial-gradient(at 10% 29%, hsla(133, 96%, 67%, 1) 0px, transparent 50%),
      radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
      radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
      radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  }
  html.dark .gradient {
    opacity: 0.1;
  }
</style>
