---
import NotesWrapper from '@/components/Notes/NotesWrapper'
import Layout from '@/layouts/Layout.astro'
import { getNoteFilename, NoteFrontmatter } from '@/lib/notes'
import { buildTagGraph } from '@/lib/notes'

const notesData = await Astro.glob<NoteFrontmatter>('../data/notes/*.mdx')

const notes = notesData.map((note) => ({
  ...note.frontmatter,
  href: `/notes/${getNoteFilename(note.url || '')}`,
}))

const tagsPerNote = notesData.map((note) => note.frontmatter.tags)

const tags = [...new Set(tagsPerNote.flat())]
const tagsGraph = buildTagGraph(...tagsPerNote)
---

<Layout title="🌱 Notes — Orlan Quijada">
  <h1 class="text-3xl font-medium">Notes</h1>
  <p class="mt-2 max-w-md text-xl">
    A personal wiki of notes, code snippets, and more stuff on the internet.
  </p>
  <NotesWrapper tags={tags} tagsGraph={tagsGraph} notes={notes} client:load />
</Layout>
