---
import NotesList from '@/components/Notes/NotesList'
import NoteTagsList from '@/components/NoteTagsList'
import Layout from '@/layouts/Layout.astro'
import { getNoteFilename, NoteFrontmatter } from '@/lib/notes'

const notesData = await Astro.glob<NoteFrontmatter>('../data/notes/*.mdx')

const notes = notesData.map((note) => ({
  ...note.frontmatter,
  href: `/notes/${getNoteFilename(note.url || '')}`,
}))

const t = [...new Set(notesData.map((note) => note.frontmatter.tags).flat())]
---

<Layout title="🌱 Notes — Orlan Quijada">
  <h1 class="text-3xl font-medium">Notes</h1>
  <p class="mt-2 text-xl max-w-[480px] text-start">
    A personal wiki of notes, code snippets, and more stuff on the internet.
  </p>
  <NoteTagsList tags={t} client:load />

  <NotesList notes={notes} className="mt-14" client:load />
</Layout>
