---
import NotesList from '@/components/Notes/NotesList'
import NoteTagsList from '@/components/Notes/NoteTagsList'
import Layout from '@/layouts/Layout.astro'
import { getNoteFilename, NoteFrontmatter } from '@/lib/notes'
import { buildTagMap } from '@/lib/notes'

const notesData = await Astro.glob<NoteFrontmatter>('../data/notes/*.mdx')

const notes = notesData.map((note) => ({
  ...note.frontmatter,
  href: `/notes/${getNoteFilename(note.url || '')}`,
}))

const tags = [...new Set(notesData.map((note) => note.frontmatter.tags).flat())]

const tagsMap = buildTagMap(...notesData.map((n) => n.frontmatter.tags))
// console.log({tagsMap})
---

<Layout title="🌱 Notes — Orlan Quijada">
  <h1 class="text-3xl font-medium">Notes</h1>
  <p class="mt-2 text-xl max-w-md">
    A personal wiki of notes, code snippets, and more stuff on the internet.
  </p>
  <NoteTagsList tags={tags} tagsMap={tagsMap} client:load />
  <NotesList notes={notes} className="mt-14" client:load />
</Layout>
