.noteCard {
  outline: none;
  position: relative;
}

.noteCard p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.noteCard:nth-child(1n):where(:focus-within, :hover) {
  border-color: var(--accent);
}
.noteCard:nth-child(2n):where(:focus-within, :hover) {
  border-color: var(--accent-violet);
}
.noteCard:nth-child(3n):where(:focus-within, :hover) {
  border-color: var(--accent-pink);
}
.noteCard:nth-child(4n):where(:focus-within, :hover) {
  border-color: var(--accent-blue);
}

.noteCard::before {
  @apply transition-opacity opacity-0 absolute inset-0 rounded-[inherit];
  content: '';
  --shadow-color: 0deg 0% 60%;
  --shadow: 0px 1px 1.5px hsl(var(--shadow-color) / 0),
    0px 3px 4.5px hsl(var(--shadow-color) / 0.25);
  box-shadow: var(--shadow);
}
.noteCard:hover::before {
  opacity: 100%;
}
