.icon {
	width: 0.75rem;
	height: 0.75rem;
}

.icon path {
	fill: var(--gray11);
}

.notesList {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: space-between;
}

.notesList > * {
	order: 1;
	margin-block-end: var(--mason-mb);
	width: 100%;
}

@media (min-width: 640px) {
	.notesList > * {
		width: 49%;
	}
}

@media (min-width: 768px) {
	.notesList > * {
		width: 32%;
	}
}

@media (min-width: 640px) {
	.notesList::after {
		content: "";
		flex-basis: 100%;
		width: 0;
		order: 1;
	}

	.notesList > *:nth-child(2n + 1) {
		order: 1;
	}

	.notesList > *:nth-child(2n) {
		order: 2;
	}
}

@media (min-width: 768px) {
	.notesList::before,
	.notesList::after {
		content: "";
		flex-basis: 100%;
		width: 0;
		order: 2;
	}

	.notesList > *:nth-child(3n + 1) {
		order: 1;
	}

	.notesList > *:nth-child(3n + 2) {
		order: 2;
	}

	.notesList > *:nth-child(3n) {
		order: 3;
	}
}

.chip[data-selected]:not(:last-of-type) {
	box-shadow: 0 0 0 2px var(--gray1);
}
