---
const margin = 16;
---

<div class="flex items-center gap-1">
  <div>
    <div
      class="h-20 w-40 rounded-lg bg-grayA5"
      style={{
        marginBottom: `${margin}px`,
      }}
    >
    </div>
    <div
      class="h-20 w-40 rounded-lg bg-grayA5"
      style={{
        marginTop: `${margin}px`,
      }}
    >
    </div>
  </div>

  <div class="flex gap-1">
    <div
      class="aspect-video h-4 rounded-r-[0.25rem] border-2 border-dashed border-grayA11 border-l-transparent"
    >
    </div>
    <span class="text-sm font-medium leading-4 text-gray12">{margin}px</span>
  </div>
</div>
