---
import { Icon } from "astro-icon/components";
import BrowserIconButton from "./BrowserIconButton/BrowserIconButton.astro";

type Props = {
	title: string;
	className?: string;
	href?: string;
	aspect: "phone" | "desktop";
};

const props = Astro.props;
---

<div
	class:list={[
    "group relative w-full overflow-hidden rounded-lg border border-gray5 shadow-[0px_3px_10px_rgba(0,0,0,0.15)] shadow-black/15 transition-transform hover:-translate-y-1",
    props.className,
  ]}
>
	<a
		href={props.href}
		target="_blank"
		rel="noopener noreferrer"
		class="titlebar flex h-6 items-center justify-center bg-gray2"
	>
		<span class="text-[.625rem] text-gray11 font-medium underline"
			>{props.title}</span
		>
	</a>

	<div
		class:list={[
      "w-full bg-gray3",
      props.aspect === "phone" ? "md:aspect-6/13" : "md:aspect-93/80",
    ]}
	>
		<slot/>
	</div>

	{
    props.href ? (
      <BrowserIconButton
        as="a"
        target="_blank"
        rel="noopener noreferrer"
        href={props.href}
        class="absolute bottom-4 left-4 translate-y-10 opacity-0 group-hover:translate-y-0 group-hover:opacity-100"
      >
        <Icon name="arrow-top-right" />
      </BrowserIconButton>
    ) : null
  }
</div>

<style>
	.titlebar {
		background-image: url(/traffic-lights.svg), url(/globe.svg);
		background-position:
			8px center,
			right 8px center;
		background-repeat: no-repeat, no-repeat;
	}
</style>
