---
import { Icon } from "astro-icon/components";
import Projects from "./Projects.astro";
import Socials from "./Socials.astro";
import { DuckSprite } from "./Sprite.tsx";
import VideoPreviewDialog from "./VideoPreviewDialog.tsx";
---

<div class="flex flex-col gap-16 items-start">
	<h1
		class="italic font-family-redaction text-4xl max-w-xs leading-snug"
		data-animate
	>
		Senior Engineer building mobile and web software.
	</h1>

	<section class="flex flex-col gap-6 max-w-md">
		<p data-animate style="--stagger: 1" class="">
			I currently lead mobile development at
			<span
				class="inline-flex relative items-center justify-center group isolate"
			>
				<a
					class="link"
					href="https://spaceduck.com"
					target="_blank"
					rel="noopener noreferrer"
					>Spaceduck</a
				><span
					class="pointer-events-none select-none size-10 absolute transition-all duration-350 opacity-0 rotate-45 group-hover:opacity-100 group-hover:-translate-y-8 group-hover:-rotate-30"
					><DuckSprite client:only/></span
				>
			</span>
			{' '}— building the company’s flagship iOS and Android app. I’ve delivered
			major features end‑to‑end, including an
			<VideoPreviewDialog client:load src="/ai-assistant2.mp4" type="video/mp4">
				AI assistant
				<Icon name="play" width={10} height={12} slot="icon"/>
			</VideoPreviewDialog>
			{' '}and a
			<VideoPreviewDialog client:load src="/collab-notes3.mp4" type="video/mp4">
				real-time multiplayer text editor
				<Icon name="play" width={10} height={12} slot="icon"/>
			</VideoPreviewDialog>
		</p>

		<p data-animate style="--stagger: 2">
			Previously, I was Lead Software Engineer at Felicity, working across
			mobile, web, and backend systems.
		</p>

		<p data-animate style="--stagger: 3">
			Most of my career has been spent in early‑stage startups, taking full
			ownership of product engineering.
		</p>
	</section>

	<Socials/>

	<Projects/>
</div>

<style>
	a,
	u {
		text-underline-offset: 4px;
		padding: 0 4px;
		margin: 0 -3px;
		border-radius: 4px;
	}

	.link {
		display: inline-block;
		text-decoration: underline;
		text-decoration-color: var(--gray9);
		text-decoration-thickness: 1px;
	}

	.link:hover,
	.link:focus-within {
		color: var(--selection-color);
		background-color: var(--accent);
		text-decoration-line: underline;
		text-decoration-style: wavy;
		outline: none;
	}

	h1 {
		--text-gradient: linear-gradient(
			333deg,
			var(--color-gray-a11),
			var(--color-gray-a12)
		);
		background: var(--text-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
</style>
