---
import { Icon } from 'astro-icon'
---

<footer
  class="fixed bottom-10 left-0 right-0 flex justify-end z-10 px-6 max-w-screen-md mx-auto"
>
  <ul class="flex gap-6">
    <li><Icon name="github" /></li>
    <li><Icon name="twitter" /></li>
    <li><Icon name="email" /></li>
  </ul>
</footer>

<style>
  svg {
    width: 16px;
    height: 16px;
  }
</style>
