---
import LogoIcon from './LogoIcon.astro'

type Props = {
  class?: string
}

const { class: className } = Astro.props
---

<footer
  class:list={['flex flex-col gap-4 justify-center px-6 pb-24', className]}
>
  <div class="w-full h-4 overflow-clip mb-6 divider"></div>

  <ul class="flex gap-3">
    <li>
      <button class="theme-toggle">
        <LogoIcon />
      </button>
    </li>

    <li>•</li>
    <li>
      <a href="/notes">Notes</a>
    </li>
    <li>
      <a href="https://daily.orlan.dev">Daily</a>
    </li>

    <li class="ml-auto">
      <a href="https://twitter.com/orlantquijada" target="_blank">Twitter</a>
    </li>
    <li>
      <a href="https://github.com/orlantquijada" target="_blank">GitHub</a>
    </li>
  </ul>

  <p class="text-sm text-gray11">
    This portfolio is Open Sourced! View it in <a
      href="https://www.figma.com/file/9DD7B7AKV2SN3sqo6cLWRB/Portfolio?node-id=610%3A3865"
      target="_blank">Figma</a
    > or <a href="https://github.com/orlantquijada/orlan.dev" target="_blank"
      >Github</a
    >.
  </p>
</footer>

<style>
  li {
    display: flex;
    align-items: center;
  }
  a:hover {
    text-decoration: underline;
  }

  .divider {
    background: url('/waves2.svg');
  }

  html.dark .divider {
    filter: unset;
  }
</style>
