---
import { Icon } from 'astro-icon'
---

<footer
  class="fixed bottom-10 md:bottom-16 left-0 right-0 flex justify-end px-6 max-w-screen-md mx-auto"
>
  <ul class="flex gap-6 md:gap-8">
    <li><Icon name="github" /></li>
    <li><Icon name="twitter" /></li>
    <li><Icon name="email" /></li>
  </ul>
</footer>

<style>
  svg {
    @apply w-4 h-4 md:w-5 md:h-5;
  }
</style>
