---
import { Menu } from './Menu/Menu'

type Props = {
  class?: string
}

const { class: className } = Astro.props
---

<header
  class:list={[
    'sticky top-10 left-0 right-0 px-6 flex justify-between items-center z-10 mt-10',
    className,
  ]}
>
  <a href="/">
    <h1 class="font-medium md:text-lg">Orlan Quijada</h1>
  </a>
  <Menu client:load />
</header>
