---
import { Menu } from './Menu/Menu'

type Props = {
  class?: string
}

const { class: className } = Astro.props
---

<header
  class:list={[
    'sticky left-0 right-0 top-10 z-10 mt-10 flex items-center justify-between px-6',
    className,
  ]}
>
  {
    Astro.url.pathname !== '/' ? (
      <a href="/">
        <h1 class="font-redaction font-medium hover:font-semibold hover:italic md:text-base md:leading-none">
          Orlan Quijada
        </h1>
      </a>
    ) : null
  }
  <Menu client:load />
</header>
