---
import { Menu } from './Menu/Menu'
---

<header
  class="sticky top-10 left-0 right-0 px-6 max-w-screen-md mx-auto flex justify-between items-center z-10 mt-10"
>
  <a href="/">
    <h1 class="md:text-lg font-medium">Orlan Quijada</h1>
  </a>
  <Menu client:load />
</header>
