<div class="flex flex-col items-start gap-12">
  <div class="flex-col">
    <h1 class="b a">Orlan Quijada</h1>
    <h2>Software Engineer & Freelancer</h2>
  </div>
</div>

<!--TODO: make article out of this pattern -->
<!-- use where to set default styles and to make it overridable -->

<style>
  .a {
    color: red;
  }

  :where(.b) {
    color: green;
  }
</style>
