---
export type Props = {
  title: string
  description?: string
  href: string
}

const { title, description, href } = Astro.props
---

<a
  href={href}
  class="inline-block mb-4 w-full transition-colors bg-grayA2 border border-grayA2 rounded-lg p-4"
>
  <h3 class="font-medium">{title}</h3>
  {description ? <p class="text-sm text-gray11">{description}</p> : null}
</a>

<style>
  a {
    @apply hover:before:opacity-100;
    position: relative;
  }

  a:nth-child(n + 1):hover {
    border-color: var(--accent);
  }
  a:nth-child(n + 2):hover {
    border-color: var(--accent-violet);
  }
  a:nth-child(n + 3):hover {
    border-color: var(--accent-pink);
  }
  a:nth-child(n + 4):hover {
    border-color: var(--accent-blue);
  }

  a::before {
    @apply transition-opacity opacity-0 absolute inset-0 rounded-[inherit];
    content: '';
    --shadow-color: 0deg 0% 60%;
    --shadow: 0px 1px 1.5px hsl(var(--shadow-color) / 0),
      0px 3px 4.5px hsl(var(--shadow-color) / 0.25);
    box-shadow: var(--shadow);
  }
  html.dark a::before {
    --shadow-color: 0, 0%, 13.6%;
  }
</style>
