---
import { Icon } from "astro-icon/components";

import BrowserBox from "./BrowserBox.astro";
import Video from "./Video.tsx";
---

<section
	class:list={["flex w-full flex-col", "h-[200vh]", "md:h-208"]}
	style="--stagger:5"
	data-animate
>
	<h3
		class:list={[
      "text-gray11 mb-6 text-sm",
      "sticky top-24",
      "md:relative md:top-[initial]",
    ]}
	>
		Projects
	</h3>

	<div class="relative h-full w-full">
		<div
			class:list={[
        "sticky top-35",
        "md:absolute md:bottom-0 md:left-[initial] md:right-0 md:top-[initial] md:z-10 md:w-full md:max-w-lg",
      ]}
			id="daily"
		>
			<BrowserBox
				title="Daily Stoic"
				aspect="desktop"
				href="https://daily.orlan.dev"
				className="md:min-w-lg"
			>
				<Video src="/stoic-demo.mp4" className="aspect-93/80" client:load>
					<Icon name="pause" slot="pausedIcon"/>
					<Icon name="play" slot="playingIcon"/>
				</Video>
			</BrowserBox>
		</div>

		<div
			class:list={[
        "sticky top-35 mt-4 brightness-[.3]",
        "md:absolute md:left-0 md:top-0 md:w-full md:max-w-xs md:brightness-100 md:hover:z-10",
      ]}
			id="money"
		>
			<BrowserBox
				title="Money Manager"
				aspect="phone"
				href="https://github.com/orlantquijada/money-manager"
				className="md:min-w-[20rem]"
			>
				<Video
					src="/jamm-add-txn.mp4"
					className="aspect-6/13"
					type="video/mp4"
					client:load
				>
					<Icon name="pause" slot="pausedIcon"/>
					<Icon name="play" slot="playingIcon"/>
				</Video>
			</BrowserBox>
		</div>
	</div>
</section>

<script>
	import { type AnimationOptions, animate, inView } from "motion";

	// tawilwind md breakpoint
	if (!window.matchMedia("(min-width: 48rem)").matches) {
		const transition: AnimationOptions = {};
		const hide = { filter: "brightness(0.3)" };
		const show = { filter: "brightness(1)" };

		inView(
			"#money",
			(element) => {
				animate(element, show, transition);
				animate("#daily", hide, transition);

				return () => {
					animate(element, hide, transition);
					animate("#daily", show, transition);
				};
			},
			{ amount: "all", margin: "50%" }
		);
	}
</script>
