---
import { cn } from "@/lib/general";

const { className } = Astro.props;

type Props = {
	className?: string;
};
---

<div
  class={cn(
    'rounded-xl border border-dashed border-grayA9 bg-grayA4 p-[10%] isolate',
    className,
  )}
>
  <slot />
</div>
