---
import { cn } from "@/lib/general";

const { className } = Astro.props;

type Props = {
	className?: string;
};
---

<div
	class={cn(
    'isolate rounded-xl border border-gray-a9 border-dashed bg-gray-a4 p-[10%]',
    className,
  )}
>
	<slot />
</div>
