.gradientBg {
	background: linear-gradient(
		to bottom,
		hsl(0, 0%, 0%) 0%,
		hsla(0, 0%, 0%, 0.987) 1.3%,
		hsla(0, 0%, 0%, 0.951) 4.9%,
		hsla(0, 0%, 0%, 0.896) 10.4%,
		hsla(0, 0%, 0%, 0.825) 17.5%,
		hsla(0, 0%, 0%, 0.741) 25.9%,
		hsla(0, 0%, 0%, 0.648) 35.2%,
		hsla(0, 0%, 0%, 0.55) 45%,
		hsla(0, 0%, 0%, 0.45) 55%,
		hsla(0, 0%, 0%, 0.352) 64.8%,
		hsla(0, 0%, 0%, 0.259) 74.1%,
		hsla(0, 0%, 0%, 0.175) 82.5%,
		hsla(0, 0%, 0%, 0.104) 89.6%,
		hsla(0, 0%, 0%, 0.049) 95.1%,
		hsla(0, 0%, 0%, 0.013) 98.7%,
		hsla(0, 0%, 0%, 0) 100%
	);
}

.close {
	/* dark gray a3 */
	background: hsla(0, 0%, 100%, 0.056);
	/* dark gray 12 */
	color: hsl(0, 0%, 93%),;
}
