---
import { Icon } from "astro-icon/components";
import type { HTMLAttributes } from "astro/types";
import { styles } from "./heading.styles";

type Props = HTMLAttributes<"h2">;

const props = Astro.props;
---

<h2 {...props} class={styles({ tag: 'h2' })}>
  <a href={`#${props.id}`} class="group flex items-center"
    ><slot /><Icon
      name="link-2"
      class="ml-[0.35em] inline h-[0.75em] w-[0.75em] opacity-0 transition-all group-hover:translate-x-1 group-hover:opacity-100"
    />
  </a>
</h2>
