---
import { Icon } from 'astro-icon'
import type { HTMLAttributes } from 'astro/types'
import { styles } from './heading.styles'

type Props = HTMLAttributes<'h3'>

const props = Astro.props
---

<h3 {...props} class={styles({ tag: 'h3' })}>
  <a href={`#${props.id}`} class="group flex items-center"
    ><slot /><Icon
      name="link-2"
      class="h-[0.75em] w-[0.75em] ml-[0.35em] inline opacity-0 transition-all group-hover:translate-x-1 group-hover:opacity-100"
    />
  </a>
</h3>
