---
import type { HTMLAttributes } from "astro/types";
import CopyButton from "./CopyButton";

type Props = HTMLAttributes<"pre">;
const props = Astro.props;

const html = await Astro.slots.render("default");
const code = html.replace(/<[^>]*>/g, "");
---

<div class="root">
	<pre {...props}><Fragment set:html={html} /></pre>
	<CopyButton client:idle code={code} />
	<div class="shine" style="top: -1px; z-index: -1;" />
</div>

<style>
	.root {
		position: relative;
	}

	pre {
		position: relative;
		padding: 16px;
		font-size: 13px;
		line-height: 1.5;
		background: var(--color-chip-bg) !important;
		border: 1px solid var(--color-gray6);
		border-radius: 12px;
		box-shadow: rgb(0 0 0 / 10%) 0px 5px 30px -5px;
		backdrop-filter: blur(10px);

		html.dark & {
			background: var(--color-gray-a2) !important;
		}
	}

	:global(html.dark) {
		.astro-code,
		.astro-code span {
			font-style: var(--shiki-dark-font-style) !important;
			font-weight: var(--shiki-dark-font-weight) !important;
			color: var(--shiki-dark) !important;
			text-decoration: var(--shiki-dark-text-decoration) !important;
		}
	}
</style>
