---
import Colors from '@/components/Colors.astro'
import Fonts from '@/components/Fonts.astro'
import ThemeToggle from '@/components/ThemeToggle.astro'

export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <Fonts />
    <ThemeToggle />
  </head>
  <body>
    <slot />
    <Colors />
    <style is:global>
      /* add global styles + reset */
      *,
      *::after,
      *::before {
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      ::selection {
        /* background-color: var(--violetA5);
        color: var(--violet12); */

        background-color: var(--selection-bg);
        color: var(--selection-color);
      }

      body {
        background-color: var(--gray1);
        color: var(--gray12);
      }

      html {
        height: 100%;
      }

      button {
        -webkit-tap-highlight-color: transparent;
      }
    </style>
  </body>
</html>
