---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import BaseLayout from "./BaseLayout.astro";

export interface Props {
	className?: string;
	title: string;
}

const { title, className } = Astro.props;
---

<BaseLayout title={title}>
	<slot name="head" slot="head" />
	<Header class="mx-auto w-screen max-w-176 px-6" />
	<main class:list={['mx-auto w-screen max-w-176 px-6 py-24', className]}>
		<div class="gradient"></div>
		<slot />
	</main>
	<Footer class="mx-auto w-screen max-w-176 px-6" />
</BaseLayout>

<style>
	main {
		flex-grow: 1;
		align-content: flex-start;
		width: 100%;
	}
	main::before,
	main::after,
	.gradient {
		position: fixed;
		inset: 0;
		width: 100vw;
		height: 100vh;
	}
	main::before {
		z-index: -1;
		content: "";
		background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, var(--gray1) 100%);
	}
	main::after {
		z-index: -2;
		content: "";
		background-image: url("/grid.svg");
		opacity: 0.2;
		filter: invert(0.8);
		/* alternative */
		/* filter: invert(1); */
	}
	html.dark main::after {
		filter: unset;
	}

	.gradient {
		/* might be good to tweek */
		/* mix-blend-mode: difference; */
		/* mix-blend-mode: hard-light; */

		z-index: -3;
		width: 100%;
		height: 100%;
		/* might be good to tweek */
		/* mix-blend-mode: difference; */
		/* mix-blend-mode: hard-light; */

		content: "";
		background-image:
			radial-gradient(at 27% 37%, hsla(215, 98%, 61%, 1) 0px, transparent 50%),
			radial-gradient(at 97% 21%, hsla(256, 98%, 72%, 1) 0px, transparent 50%),
			radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
			radial-gradient(at 10% 29%, hsla(133, 96%, 67%, 1) 0px, transparent 50%),
			radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
			radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
			radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);

		opacity: 0.2;
		filter: blur(100px) saturate(150%);
	}
	html.dark .gradient {
		opacity: 0.1;
	}
</style>
