---
export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link
      rel="preload"
      href="/fonts/Inter-Medium.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/Inter-Medium.woff"
      as="font"
      type="font/woff"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <slot />
    <style is:global>
      /* add global styles + reset */
      @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url('/fonts/Inter-Medium.woff2') format('woff2'),
          url('/fonts/Inter-Medium.woff') format('woff');
      }

      :root {
      }
      html,
      body,
      main {
        height: 100%;
      }
    </style>
  </body>
</html>
