@keyframes scaleAndFadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes scaleAndFadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.defaultAnimationProps {
  animation-duration: 300ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  animation-fill-mode: forwards;
}

.content {
  transform-origin: var(--radix-popover-content-transform-origin);
  composes: defaultAnimationProps;
}
.content[data-state='open'] {
  animation-name: scaleAndFadeIn;
}
.content[data-state='closed'] {
  animation-name: scaleAndFadeOut;
}

.trigger {
  composes: defaultAnimationProps;
}

.trigger[data-state='open'] {
  animation-name: fadeOut;
}
.trigger[data-state='closed'] {
  animation-name: fadeIn;
}

.icon path {
  fill: var(--gray10);
}
